.navbar {
  background-color: #ffffff;
  padding: 0px 24px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO FIX */
.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 100px;
  height: auto;
  display: block;
  margin-left: -95px; /* Adjust this value to move the logo left or right */
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color:   #e74c3c;

  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color:  #e74c3c;


}

.nav-links a.active {
  color: #5b0a01;
  border-bottom: 2px solid #e74c3c;
  text-size-adjust: 20px;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  margin: 3px 0;
}

/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: -100%;
    flex-direction: column;
    background-color: #3f3f21;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding: 2rem 0;
    gap: 1.5rem;
  }

  .nav-links.active {
    left: 0;
  }
}